.header {
  height: 500px;
  border: 1px solid #000;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 250px;
}

.blocks > * {
  border: 1px solid green;
  height: 350px;
  font-size: 50px;
}

.block-3 {
  transform: translateX(-110%);
  transition: all 3s;
}

.block-3_active {
  transform: translateX(0);
}
