.header {
  height: 500px;
  border: 1px solid #000;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 250px;
}

.blocks > * {
  border: 1px solid green;
  height: 250px;
  font-size: 50px;
}